{require_min_otp_vsn, "22"}.

{erl_opts, [
  debug_info,

  {platform_define, "^[0-9]+", namespaced_dicts},
  {platform_define, "^(19|2)", rand_only},
  {platform_define, "^(R|1|20)", fun_stacktrace}
 ]
}.

{deps, [
  {erlang_localtime, "1.0.0"},
  {zotonic_stdlib, "1.5.3"}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{xref_ignores, [
    {template_compiler_parser, return_error, 2}
]}.
