{require_min_otp_vsn, "22"}.

{erl_opts, [
    debug_info
]}.

{deps, [
    {qdate_localtime, "~> 1.2"},
    {zotonic_stdlib, "~> 1.6"}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{xref_ignores, [
    {template_compiler_parser, return_error, 2}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/zotonic/template_compiler">>},
          {extras, [<<"README.md">>, <<"LICENSE">>]},
          {main, <<"readme">>}]}.
